
	<p><%= f.label :first_name %></p>
	<p><%= f.text_field :first_name %></p>
	<p><%= f.label :last_name %></p>
	<p><%= f.text_field :last_name %></p>
	<p><%= f.label :email %></p>
	<p><%= f.text_field :email %></p>
	<div id="image">
		<%= render :partial => 'image', :collection => @user.images %>
	</div>
	<%= add_image_link("Add a image") %>